@model List<Category>

<div class="container pb-3">
    <div class="row p-1">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary rounded-3">
                <i class="bi bi-plus-circle"></i> Create new Category
            </a>
        </div>
    </div>




    <table class="table  table-bordered talble-striped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                </tr>
            }
        </tbody>
    </table>
</div>